mat-toolbar{
  justify-content: center;
  display: flex;

     span{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        font-weight: 350;
        margin-right: 15px;

      }
  }
