mat-divider{
  width: 80%;
  margin:  auto;
}
.mat-dialog-content{
  font-family: 'Montserrat';

}
mat-dialog-actions{
  justify-content: end;
  margin-right: 10px;
  margin-bottom: 5px;

        button {
          font-family: 'Montserrat';

        }

}
